# Built fonts - keep out of version control
fonts/
dist/
build/
documentation/google-fonts/gftools-qa/
build.ninja
.ninja_log
sources/build.ninja
sources/.ninja_log
instance_ufo/
sources/instance_ufos/
master_ufo/
.venv/
local.mk
__pycache__/
*.py[cod]

.DS_Store

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.ico
*.webp
*.tiff
*.tif
!documentation/
!documentation/assets/
!documentation/assets/readme/
!documentation/assets/readme/*.png
!documentation/assets/social/
!documentation/assets/social/*.png
