<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>C</key>
  <dict>
    <key>public.kern2.a</key>
    <real>-16</real>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.slash</key>
    <real>-128</real>
  </dict>
  <key>aacute</key>
  <dict>
    <key>public.kern2.apostrophemod</key>
    <real>-16</real>
  </dict>
  <key>f</key>
  <dict>
    <key>t</key>
    <real>0</real>
  </dict>
  <key>l</key>
  <dict>
    <key>public.kern2.y</key>
    <real>-32</real>
  </dict>
  <key>n</key>
  <dict>
    <key>public.kern2.slash</key>
    <real>-32</real>
    <key>public.kern2.t</key>
    <real>-8</real>
    <key>public.kern2.y</key>
    <real>-32</real>
  </dict>
  <key>period</key>
  <dict>
    <key>public.kern2.O</key>
    <real>-112</real>
    <key>public.kern2.one</key>
    <real>-96</real>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T</key>
    <real>-128</real>
    <key>public.kern2.V</key>
    <real>-128</real>
    <key>public.kern2.t</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.C</key>
  <dict>
    <key>public.kern2.period</key>
    <real>-96</real>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>public.kern2.O</key>
    <real>-48</real>
    <key>public.kern2.o</key>
    <real>-64</real>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>public.kern2.a</key>
    <real>-128</real>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>public.kern2.A</key>
    <real>-128</real>
    <key>public.kern2.a</key>
    <real>-72</real>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-112</real>
  </dict>
  <key>public.kern1.Z</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>public.kern2.t</key>
    <real>-8</real>
    <key>public.kern2.v</key>
    <real>-24</real>
    <key>public.kern2.y</key>
    <real>-48</real>
  </dict>
  <key>public.kern1.apostrophemod</key>
  <dict>
    <key>u</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.e</key>
  <dict>
    <key>public.kern2.y</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.f</key>
  <dict>
    <key>g</key>
    <real>-8</real>
    <key>public.kern2.a</key>
    <real>-48</real>
    <key>public.kern2.f</key>
    <real>-32</real>
    <key>public.kern2.hyphen</key>
    <real>-118</real>
    <key>public.kern2.l</key>
    <real>-8</real>
    <key>public.kern2.o</key>
    <real>-64</real>
    <key>public.kern2.t</key>
    <real>-56</real>
    <key>public.kern2.u</key>
    <real>-16</real>
  </dict>
  <key>public.kern1.hyphen</key>
  <dict>
    <key>public.kern2.A</key>
    <real>-32</real>
    <key>public.kern2.t</key>
    <real>-48</real>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-16</real>
    <key>public.kern2.s</key>
    <real>-16</real>
  </dict>
  <key>public.kern1.l</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-8</real>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.a</key>
    <real>-40</real>
    <key>public.kern2.o</key>
    <real>-40</real>
    <key>public.kern2.slash</key>
    <real>-128</real>
  </dict>
  <key>public.kern1.o</key>
  <dict>
    <key>public.kern2.emdash</key>
    <real>16</real>
    <key>public.kern2.f</key>
    <real>-40</real>
    <key>public.kern2.slash</key>
    <real>-64</real>
    <key>public.kern2.t</key>
    <real>-16</real>
    <key>public.kern2.v</key>
    <real>-32</real>
    <key>public.kern2.w</key>
    <real>-16</real>
    <key>public.kern2.x</key>
    <real>-32</real>
    <key>public.kern2.z</key>
    <real>-24</real>
  </dict>
  <key>public.kern1.period</key>
  <dict>
    <key>public.kern2.quotedblright</key>
    <real>-208</real>
  </dict>
  <key>public.kern1.quoteright</key>
  <dict>
    <key>public.kern2.s</key>
    <real>-104</real>
  </dict>
  <key>public.kern1.reh-ar.fina</key>
  <dict>
    <key>public.kern2.feh-ar.init</key>
    <real>-288</real>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-16</real>
    <key>public.kern2.quotedblright</key>
    <real>-48</real>
  </dict>
  <key>public.kern1.seven</key>
  <dict>
    <key>public.kern2.eight</key>
    <real>-64</real>
    <key>public.kern2.o</key>
    <real>-128</real>
  </dict>
  <key>public.kern1.six</key>
  <dict>
    <key>public.kern2.seven</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.slash</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-80</real>
    <key>public.kern2.v</key>
    <real>-16</real>
  </dict>
  <key>public.kern1.t</key>
  <dict>
    <key>public.kern2.emdash</key>
    <real>-108</real>
    <key>public.kern2.hyphen</key>
    <real>-64</real>
    <key>public.kern2.o</key>
    <real>-24</real>
    <key>public.kern2.quoteright</key>
    <real>0</real>
    <key>public.kern2.s</key>
    <real>-8</real>
    <key>public.kern2.t</key>
    <real>-64</real>
  </dict>
  <key>public.kern1.v</key>
  <dict>
    <key>public.kern2.a</key>
    <real>-32</real>
    <key>public.kern2.o</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.w</key>
  <dict>
    <key>public.kern2.a</key>
    <real>-16</real>
    <key>public.kern2.o</key>
    <real>-32</real>
  </dict>
  <key>public.kern1.x</key>
  <dict>
    <key>public.kern2.o</key>
    <real>-64</real>
    <key>public.kern2.seven</key>
    <real>-48</real>
    <key>public.kern2.y</key>
    <real>-16</real>
  </dict>
  <key>public.kern1.y</key>
  <dict>
    <key>public.kern2.comma</key>
    <real>-128</real>
  </dict>
  <key>public.kern1.zero</key>
  <dict>
    <key>public.kern2.period</key>
    <real>-32</real>
  </dict>
  <key>s</key>
  <dict>
    <key>public.kern2.t</key>
    <real>-8</real>
  </dict>
  <key>y</key>
  <dict>
    <key>public.kern2.period</key>
    <real>-128</real>
  </dict>
</dict>
</plist>
